
MAJ_Python/Projet Netflix/.ipynb_checkpoints/netflix-checkpoint.ipynb
MAJ_Python/Projet Netflix/CSV/.~lock.credits.csv\#
MAJ_Python/Projet Netflix/CSV/credits.csv
MAJ_Python/Projet Netflix/CSV/movies_metadata.csv
MAJ_Python/Projet Netflix/netflix.ipynb
MAJ_Python/projetRechercheNetflix/data/credits.csv
MAJ_Python/projetRechercheNetflix/data/movies_metadata.csv
MAJ_Python/projetRechercheNetflix/guide/Readme.txt
MAJ_Python/projetRechercheNetflix/guide/Documentation.txt
MAJ_Python/projetRechercheNetflix/jupytertest/axel_jupy/.ipynb_checkpoints/axel_test_mth_stats-checkpoint.ipynb
MAJ_Python/projetRechercheNetflix/jupytertest/axel_jupy/axel_test_mth_stats.ipynb
MAJ_Python/projetRechercheNetflix/main.ipynb
MAJ_Python/projetRechercheNetflix/methode/axel_mth/axel_mth_statistiques.py
MAJ_Python/projetRechercheNetflix/main.py
MAJ_Python/projetRechercheNetflix/methode/axel_mth/axel_mth_getMoviesActors.py
