{% extends 'base.html' %} {% block header %}

{% endblock %} {% block content %}

<div class="row center">
  <br><br>
    <h4 class="header col s12 light">Contactez-nous</h4>
</div>
  <div class="container pt-60">
    <div class="row">
      <div class="col s6">
        <div class="center">
          <img src="{{ url_for('static', filename='images/bg.jpg') }}" alt="background contact" class="responsive-img">
        </div>
      </div>
      <br><br>
      <div class="col s6 bg-main">
        <form action="{{ url_for('contact')}}", method="POST">
          {{ form.hidden_tag() }}
          <div class="row">
            <div class="input-field col s12">
              {{ form.name.label }}
              {{ form.name(class='validate') }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.email.label }}
              {{ form.email(class='validate') }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.message.label }}
              {{ form.message(class='materialize-textarea validate') }}
            </div>
          </div>
          <div class="row center">
            <div class="col s12 mt-25">
              <button class="btn waves-effect waves-light" type="submit">Envoyer
              <i class="material-icons right">Envoyer</i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <br><br>
    </div>
  </div>

{% endblock %}