{% extends 'base.html' %} {% block header %}

{% endblock %} {% block content %}
<div class="section no-pad-bot">
  <div class="container">
  
    <div class="row center">
      <h5 class="header col s12 light">S'inscrire</h5>
    </div>
  
    <br><br>

  </div>
</div>
<div class="container pt-60">
  <div class="row">
    <div class="col s6">
      <img src="{{ url_for('static', filename='images/parc-auto.jpg')}}" alt="voiture electrique zoe" class="responsive-img">
    </div>
    <div class="col s6">
        <form action="{{ url_for('register')}}" method="POST">
            <div class="row">
              <div class="input-field col s12">
                    <input name="username" type="text" class="validate">
                    <label for="username">Nom d'utilisateur</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                      <input name="email" type="email" class="validate">
                      <label for="email">Adresse e-mail</label>
                  </div>
              </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="password">Mot de passe</label>
                    <input name="password" type="password"  class="validate" required>
                </div>
            </div>
            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit">Envoyer
                    <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
    </div>
    <br><br>
  </div>
</div>
{% endblock %} 