{% extends 'base.html' %} {% block header %}

{% endblock %} {% block content %}
<div id="index-banner"> 

    <div class="section"> 

      <div class="container">    

         

            <h4 class="text-center">Guide d'utilisateur</h4> 

            <br><br> 

            <p>Page d'accueil :<br> 

            Sur la page d'accueil, vous pouvez voir le nom et le logo de l'application dans le coin supérieur gauche. En haut à droite se trouvent deux options de menu : "Accueil" pour retourner à la page d'accueil et "Aide" pour obtenir une assistance et une explication détaillée de l'utilisation de l'application.<br> 

             

            Au centre de la page, vous trouverez un champ de téléchargement de photo qui vous permet de télécharger une photo à partir de votre ordinateur. En bas de la page se trouve le champ de copyright. 

            <br><br> 

            Chargement de photo :<br> 

            Dès que vous cliquez sur le bouton "Envoyer", la photo est chargée et affichée sur une nouvelle page qui vous permet soit de la modifier, soit de l'annoter. La photo chargée est sauvegardée dans un dossier temporaire qui se supprime automatiquement.<br> 

            <br><br> 

            Page de modification de photo :<br> 

            Si vous souhaitez modifier la photo que vous avez téléchargée, vous pouvez cliquer sur le bouton "Modifier". Cela vous permettra de modifier la photo en fonction de vos préférences. Une fois que vous avez terminé la modification, vous pouvez soit enregistrer les modifications en cliquant sur le bouton "Sauvegarder", soit revenir à la page précédente en cliquant sur le bouton "Annuler".<br> 

            <br><br> 

            Page d'annotation de photo :<br> 

            Si vous souhaitez annoter la photo, vous pouvez cliquer sur le bouton "Annoter". La photo chargée est automatiquement analysée par notre modèle d'IA pour générer une description de la photo. Cette description est affichée sur la page de l'annotation. Vous pouvez également ajouter vos propres annotations et les enregistrer en cliquant sur le bouton "Sauvegarder". Si vous changez d'avis ou si vous souhaitez annuler les modifications, vous pouvez cliquer sur le bouton "Annuler" pour revenir à la page précédente.<br><br> 

            Nous espérons que cet guide utilisateur vous sera utile. Si vous avez des questions ou des commentaires, n'hésitez pas à nous contacter à l'adresse help@annotme.com. <br> Merci d'utiliser AnnotMe ! 

        </div> 

    </div> 

</div> 

{% endblock %}